<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:replace="fragments/navigation::navigation"></nav>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/history}" method="post" th:object="${history}">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="form-group">
                    <label>Book title</label>
                    <input type="text" class="form-control" id="tradeDate" th:field="*{tradeDate}"
                           placeholder="Enter book title">
                </div>
                <div class="form-group">
                    <label>Book publication date</label>
                    <input type="text" class="form-control" id="secId" th:field="*{secId}"
                           placeholder="Enter publication date">
                </div>
                <div class="form-group">
                    <label>Book isbn</label>
                    <input type="text" class="form-control" id="numTrades" th:field="*{numTrades}"
                           placeholder="Enter isbn">
                </div>
                <div class="form-group">
                    <label>Book isbn</label>
                    <input type="text" class="form-control" id="open" th:field="*{open}"
                           placeholder="Enter isbn">
                </div>
                <div class="form-group">
                    <label for="genres">Genre</label>
                    <select class="form-control" id="securities" name="securities" required>
                        <option th:each="securities : ${securities}"
                                th:text="${securities.name}"
                                th:value="${securities.secId}"
                                th:selected="${history.securitiesDto?.secId == securities.secId}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>

</html>